.button {
  position: relative;
  border: 2px solid var(--color-accent, oklch(0% 0 0deg));
  background-color: var(--color-bg, oklch(100% 0 102.07deg));
  transition: box-shadow var(--time-animation, 0.3s) ease;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    display: block;
    background-color: var(--color-accent, oklch(0% 0 0deg));
    transition: transform var(--time-long, 0.5s) ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    block-size: 100%;
    inline-size: 100%;
  }
  
  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
  
  &:focus {
    outline: none;
  }
  
  &:focus-visible {
    box-shadow: 2px 2px 0 var(--color-accent, oklch(0% 0 0deg));
  }

  &__text {
    z-index: 1;
    color: var(--color-button-text, oklch(100% 0 102.07deg));
    font-family: var(--font-accent, sans-serif);
    font-size: 14px;
    line-height: 1;
    mix-blend-mode: difference;
  }
}