.page {
  display: grid;
  justify-items: center;
  color: var(--color-accent, rgb(0 0 0));
  font-family: var(--font-main, sans-serif);
  font-size: 18px;
  background-color: var(--color-bg, rgb(255 255 255));
  background-image: var(--image-bg);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-w-normal, 400);
}
