:root.theme-light {
  /* вес шрифта */
  --font-w-normal: 400;
  --font-w-bold: 700;

  /* основные цвета */
  --color-bg: rgb(255 255 255);
  --color-accent: rgb(0 0 0);
  --color-button-text: var(--color-bg);

  /* цвет линний градиента */
  --gr-line-first: rgb(211 211 211);
  --gr-line-second: rgb(211 211 211 / 0);

  /* цвет сплошного градиента */
  --gr-solid-start: rgb(231 231 231);
  --gr-solid-end: rgb(26 26 26);

  /* паттерн фонового градиента */
  --image-bg: repeating-linear-gradient(
      to right,
      var(--gr-line-first) 0 2px,
      var(--gr-line-second) 2px 4px
    ),
    repeating-linear-gradient(to bottom, var(--gr-line-first) 0 2px, var(--gr-line-second) 2px 4px),
    linear-gradient(to bottom, var(--gr-solid-start) 0.01%, var(--gr-solid-end));
}

:root.theme-dark {
  /* вес шрифта */
  --font-w-normal: 465;
  --font-w-bold: 785;

  /* основные цвета */
  --color-bg: rgb(0 0 0);
  --color-accent: rgb(0 204 20);
  --color-button-text: var(--color-accent);

  /* цвет линний градиента */
  --gr-line-first: rgb(0 0 0);
  --gr-line-second: rgb(0 0 0 / 0);

  /* цвет сплошного градиента */
  --gr-solid-start: rgb(1 127 13);
  --gr-solid-end: rgb(0 67 6);

  /* паттерн фонового градиента */
  --image-bg: repeating-linear-gradient(
      to right,
      var(--gr-line-first) 0 2px,
      var(--gr-line-second) 2px 4px
    ),
    repeating-linear-gradient(to bottom, var(--gr-line-first) 0 2px, var(--gr-line-second) 2px 4px),
    linear-gradient(to bottom, var(--gr-solid-start), var(--gr-solid-end));
}

@media (prefers-color-scheme: dark) {
  :root {
    /* вес шрифта */
    --font-w-normal: 465;
    --font-w-bold: 785;

    /* основные цвета */
    --color-bg: rgb(0 0 0);
    --color-accent: rgb(0 204 20);
    --color-button-text: var(--color-accent);

    /* цвет линний градиента */
    --gr-line-first: rgb(0 0 0);
    --gr-line-second: rgb(0 0 0 / 0);

    /* цвет сплошного градиента */
    --gr-solid-start: rgb(1 127 13);
    --gr-solid-end: rgb(0 67 6);

    /* паттерн фонового градиента */
    --image-bg: repeating-linear-gradient(
        to right,
        var(--gr-line-first) 0 2px,
        var(--gr-line-second) 2px 4px
      ),
      repeating-linear-gradient(
        to bottom,
        var(--gr-line-first) 0 2px,
        var(--gr-line-second) 2px 4px
      ),
      linear-gradient(to bottom, var(--gr-solid-start), var(--gr-solid-end));
  }
}
