:root {
  /* ------------------------------------*\
    #ОБЩИЕ ПЕРЕМЕННЫЕ
  \*------------------------------------ */

  /* ширина контейнера */
  --content-inline-size: min(100%, 700px);

  /* шрифты проекта */
  --font-main: 'Inter-Variable';
  --font-accent: 'PressStart2P';

  /* цвет сердца */
  --color-heart-fill: rgb(255 0 0);

  /* цвет фона за модальным окном */
  --color-backdrop: rgb(0 0 0 / 0.75);

  /* время анимации */
  --time-animation: 0.3s;
  --time-long: 0.5s;

  /* ------------------------------------*\
    #ПЕРЕМЕННЫЕ ТЕМЫ
  \*------------------------------------ */

  /* вес шрифта */
  --font-w-normal: 400;
  --font-w-bold: 700;

  /* основные цвета */
  --color-bg: rgb(255 255 255);
  --color-accent: rgb(0 0 0);
  --color-button-text: var(--color-bg);

  /* цвет линний градиента */
  --gr-line-first: rgb(211 211 211);
  --gr-line-second: rgb(211 211 211 / 0);

  /* цвет сплошного градиента */
  --gr-solid-start: rgb(231 231 231);
  --gr-solid-end: rgb(26 26 26);

  /* паттерн фонового градиента */
  --image-bg: repeating-linear-gradient(
      to right,
      var(--gr-line-first) 0 2px,
      var(--gr-line-second) 2px 4px
    ),
    repeating-linear-gradient(to bottom, var(--gr-line-first) 0 2px, var(--gr-line-second) 2px 4px),
    linear-gradient(to bottom, var(--gr-solid-start) 0.01%, var(--gr-solid-end));
}
