.dialog {
  &[open] {
    display: grid;
    gap: 30px;
    border: 2px solid var(--color-accent, rgb(0 0 0));
    padding-inline: 30px;
    padding-block: 30px;
    overflow: hidden;
    background-color: var(--color-bg, rgb(255 255 255));
    inline-size: 100%;
    max-inline-size: 357px;

    @media (width <= 375px) {
      padding-inline: 40px;
      max-inline-size: 341px;
    }
  }

  &::backdrop {
    background-color: var(--color-backdrop, rgb(0 0 0 / 0.75));
  }

  &__message {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__floppy-icon {
    block-size: 39px;
  }

  &__text {
    color: var(--color-accent, rgb(0 0 0));
    font-family: var(--font-accent, sans-serif);
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
  }

  &__button {
    display: grid;
    place-items: center;
    block-size: 38px;
    inline-size: 100%;

    &:has(.button__text) {
      text-transform: uppercase;
    }
  }

  &:not([open]) {
    display: none;
  }
}
